@import url(https://fonts.googleapis.com/css2?family=PT+Sans&display=swap);
@charset "UTF-8";

body {
    width: 100%;
}

article {
    padding: 20px;
}

#panel-top {
    z-index: 10;
}

.donutchart {
    position: absolute;
    z-index: 1;
    border: 1px solid lightskyblue;
    border-radius: 4px;
    height: 300px;
}

#team-open-tickets {
    margin-top: 50px;
}

#team-resolved-tickets {
    margin-top: 380px;
}

.chartgroup:first-child {
    margin-top: 10px;
    margin-left: 0px;
}

.chartgroup:nth-child(2) {
    margin-left: 430px;
    margin-top: 60px;
}

#bdtype-tickets {
    margin-top: 330px;
}

nav {
    height: 100%;
    margin-bottom: 0px;
}

@media screen and (max-width: 765px) {
    article {
        padding: 0px;
    }

    
    .donutchart {
        top: 70px;
        left: 0px;
        margin: 0px;
        width: calc(100%);
    }

    .chartgroup:first-child {
        margin-left: 30px;
    }

    .chartgroup:nth-child(2) {
        margin-left: 30px;
      
    }

    #team-open-tickets {
        top: 1010px;
    }

    #team-resolved-tickets {
        top: 350px;
    }
}

@media screen and (max-height: 680px) {
    nav {
        height: 750px;
    }
}

@media screen and (min-height: 1365px) {
    nav {
        height: 1520px;
    }
}

@media screen and (max-width: 400px) {
    .chartgroup {
        width: 100%;
    }
}

