@import url(https://fonts.googleapis.com/css2?family=PT+Sans&display=swap);
@charset "UTF-8";


* {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    min-width: 255px;
    padding: 50px;   
    display: flex;
    justify-content: center;
    align-items: center;    
}



article{
    margin-top:100px;
    background-color: rgb(241 245 249);
    border: 0.5px solid rgba(154, 153, 189, 0.2);
    border-radius: 5px;     
}

#gap{
    padding: 30px;
}

a {
    text-decoration: none;
    color: rgb(47, 60, 68);
}

nav a:hover{
    text-decoration: underline;
    color: rgb(47, 60, 68);
}




@media screen and (max-width: 765px) {
   body {
    padding: 20px;
    }

    #gap{
        padding: 10px;
    }
}








