@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=PT+Sans&display=swap);


* {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    
}



.square {
    width: 100%;
}

article{
  
    border-radius: 5px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px;
    
}

.logo{
margin-bottom: 30px;

}

.logo img{
    width: 250px;
}

nav {
    color: rgb(47, 60, 68);
}

.col-sm-5 {
    padding: 50px;

}

.col-sm-5 h2 {
    padding-bottom: 20px;
    color: rgb(47, 60, 68);
}


.col-sm-5:hover {
    background-color: rgba(227, 239, 255, 0.6);
    
    
}




